#!/bin/vbash

source /opt/vyatta/etc/functions/script-template

set service dhcp-server shared-network-name {{ service_dhcp_server_shared_network_name }} subnet {{ service_dhcp_server_subnet }} default-router {{ service_dhcp_server_default_router }}
set service dhcp-server shared-network-name {{ service_dhcp_server_shared_network_name }} subnet {{ service_dhcp_server_subnet }} start {{ service_dhcp_server_start }} stop {{ service_dhcp_server_stop }}
set service dhcp-server shared-network-name {{ service_dhcp_server_shared_network_name }} subnet {{ service_dhcp_server_subnet }} static-route destination-subnet {{ service_dhcp_server_static_route_destination_subnet }}
set service dhcp-server shared-network-name {{ service_dhcp_server_shared_network_name }} subnet {{ service_dhcp_server_subnet }} static-route router {{ service_dhcp_server_static_route_router }}

commit
save
