set vpn ipsec ike-group {{ vpn_ipsec_ike_group_name }} proposal 1 encryption {{ vpn_ipsec_ike_group_encryption }}
set vpn ipsec ike-group {{ vpn_ipsec_ike_group_name }} proposal 1 hash {{ vpn_ipsec_ike_group_hash }}
set vpn ipsec ike-group {{ vpn_ipsec_ike_group_name }} proposal 1 dh-group {{ vpn_ipsec_ike_group_dh_group }}
set vpn ipsec ike-group {{ vpn_ipsec_ike_group_name }} lifetime {{ vpn_ipsec_ike_group_lifetime }}
set vpn ipsec ike-group IKE-G dead-peer-detection action {{ vpn_ipsec_ike_group_dpd_action }}
set vpn ipsec ike-group IKE-G dead-peer-detection interval {{ vpn_ipsec_ike_group_dpd_interval }}
set vpn ipsec ike-group IKE-G dead-peer-detection timeout {{ vpn_ipsec_ike_group_dpd_timeout }}

set vpn ipsec esp-group {{ vpn_ipsec_esp_group_name }} proposal 1 encryption {{ vpn_ipsec_esp_group_encryption }}
set vpn ipsec esp-group {{ vpn_ipsec_esp_group_name }} proposal 1 hash {{ vpn_ipsec_esp_group_hash }}
set vpn ipsec esp-group {{ vpn_ipsec_esp_group_name }} lifetime {{ vpn_ipsec_esp_group_lifetime }}

set vpn ipsec interface {{ vpn_ipsec_ipsec_interface }}

set vpn ipsec site-to-site peer {{ vpn_ipsec_site_to_site_peer_address }} authentication mode pre-shared-secret
set vpn ipsec site-to-site peer {{ vpn_ipsec_site_to_site_peer_address }} authentication pre-shared-secret {{ vpn_ipsec_site_to_site_peer_pre_shared_secret }}
set vpn ipsec site-to-site peer {{ vpn_ipsec_site_to_site_peer_address }} ike-group {{ vpn_ipsec_site_to_site_peer_ike_group }}
set vpn ipsec site-to-site peer {{ vpn_ipsec_site_to_site_peer_address }} default-esp-group {{ vpn_ipsec_site_to_site_peer_esp_group }}
set vpn ipsec site-to-site peer {{ vpn_ipsec_site_to_site_peer_address }} local-address {{ vpn_ipsec_site_to_site_peer_local_address }}
set vpn ipsec site-to-site peer {{ vpn_ipsec_site_to_site_peer_address }} tunnel 1 local prefix {{ vpn_ipsec_site_to_site_peer_local_prefix }}
set vpn ipsec site-to-site peer {{ vpn_ipsec_site_to_site_peer_address }} tunnel 1 remote prefix {{ vpn_ipsec_site_to_site_peer_remote_prefix }}
